*{
    margin: 0;
    padding: 0;
}


body{
    background: url("BG.png");
    /* background-size: cover; or use 'contain' depending on your preference */
    /* background-repeat: no-repeat; */
}

html{
    scroll-behavior: smooth;
}

#desktop_nav{
    display: flex;
    /* align-items: center; */
    /* this is used to put the items in a flexbox so that they can be put side by side */
}

nav{
    justify-content: space-around;
    /* this property will basically give space around items */
    height: 17vh;
    /* one whole page is consider as 100 view height(vh) , so first 18 vh is given to this nav and in this 18 it will be aligned at half */
}

.link-wrap{
    display: flex;
    align-items: center;
}

.nav_links{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
}

.logo{
    display: flex;
    height: auto;
    width: auto;
}

.loginbtn-wrapper{
    display: flex;
    align-items: center;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
    text-decoration-color: var(--primary-color);
}

a:hover{
    text-decoration: underline;
    font-size: smaller;
    transition: transform 3s smooth;
    text-underline-offset: 1rem;
    text-decoration-color: var(--secondary-color)
    /* transform: scale(1.5); */
}

.signup-btn {
    padding: 10px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Added transform property for rotation */
}

.signup-btn:hover {
    background-color: black;
    border-color: white;
    transform:  rotateZ(360deg);
}

#home{
    display: flex;
    margin-top: 3rem;
    gap: 15rem;
    align-items: center;
    justify-content: space-around;
}

.home-text{
    /* width: fit-content; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
}

.home-img-wrapper{
    display: flex;
}

.body1-fonts{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #473525E5;
}

.body2-fonts{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 14.5px;
}

.btn_container{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.btn_container{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

button{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.one{
    color: white;
    background: #705d45;
    border-color: black;
    border-radius: 4rem;
}

.one:hover , .two:hover{
    cursor: pointer;
}

.one:hover{
    color: black;
    background-color: white;
}

.two:hover{
    background-color: #705d45;
    color: white;
}

#features{
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
    height: 100vh;
    align-items: center;
}


.feature-img-wrapper{
    gap: 2.5rem;
    display:flex;
}

.body3-fonts{
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    width: 300px;
    font-size: 50px;
    color: #473525E5;
}


.body4-fonts{
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    width: 300px;
    font-size: 17px;
}

.feature-img-wrap{
    background-color: #febc49;
    border-radius: 4rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#menu{
    display: flex; /* or flex-start */
    gap: 5rem;
    height: 100vh;
    justify-content: space-around;
}

.menu-wrapper{
    display: flex;
    flex-direction: column;
}

.menu-img-wrapper{
    display: flex;
    flex-direction: row;
}

.body5-fonts{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: 'Jost', sans-serif;
    color:#473525E5;
    font-weight: 700;
    font-size: 70px;
}

.body6-fonts{
    font-weight: 550;
    font-size: 20px;
    text-align: center; 
    color: #473525E5;
    font-family: 'Martel Sans', sans-serif;
}

.menu-text-wrap{
    width: 600px;   
}



.menu-img-wrapper{
    display: flex;
    gap: 2rem;
}


.menu-img-wrap{
    border-radius: 4rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #f1c87f;
}

.fruit-img{
    height: 400px;
    width: 350px;
}

#contact{
    display: flex;
    justify-content: center;
    height: 80vh;
}

.form-wrapper{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text-wrap{
    text-align: center;
}
.form-wrap{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

#full-name , #email , #message{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
}

#message{
    height: 100px;
}

#btn{
    background: #FFA500;
    color: white;
    border-radius: 13px;
    width: 100px;
    height: 35px;
}

footer{
    height: 26vh;
    margin: 0;
}

footer p{
    text-align: center;
    margin-bottom: 2rem;
}

.footer-container{
    display: flex;
    justify-content: center;
}

.foot-link{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    list-style: none;
    gap: 2rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    display: flex;
}